<tr>
  <td><%= link_to album.artist.name, admin_artist_path(album.artist_id) %></td>
	<td><%= link_to album.title, admin_album_path(album) %></td>
	<td><center><%= album.released %></center></td>
	<td><center><%= link_to album.genre.name, admin_genre_path(album.genre_id) %></center></td>			
	<% if current_user.id == album.user_id %>
		<td>
      <%= link_to edit_admin_album_path(album), class: ' btn btn-sm btn-primary' do %>
        <i class="glyphicon glyphicon-edit"></i> Edit
      <% end %>
   
      <%= link_to admin_album_path(album), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-sm btn-danger' do %>
        <i class="glyphicon glyphicon-trash"></i> Delete
      <% end %>
    </td>
  <% end %>
</tr>