<div class="panel-heading">Tracks <span class="badge"><%= @album.tracks.count %></span>
</div>      
<table class = 'table table-striped table-hover'>
  <thead>
		<tr>
    	<th>Track</th>
    	<th><center>Duration</center></th>
    	<th>Actions</th>
		</tr>
	</thead>
	<tbody>
    <% @tracks.each do |track| %>
			<tr>
				<td><%= link_to track.name, admin_track_path(track) %></td>	
				<td><center><%= track.duration %></center></td>		
				<td>
					<% if logged_in? %>
						<%= link_to edit_admin_track_path(track), class: 'btn btn-sm btn-primary' do %>
							<i class="glyphicon glyphicon-edit"></i> Edit
						<% end %>
						<%= link_to admin_track_path(track), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-sm btn-danger' do %>
							<i class="glyphicon glyphicon-trash"></i> Delete
						<% end %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>