<% provide(:title, "Albums") %>
<div class = "well well-sm well-albums">
	<h3>. <%= link_to new_admin_album_path, class: 'btn btn-sm btn-primary' do %>
			Add New Album  <i class="fa fa-plus"></i> 
    <% end %>
	</h3>		
</div>	

<div class="panel panel-default">  
  <div class="panel-heading">
		<div class=text-center>
  		<div class="form-group">
      	<%= form_tag(admin_albums_path, :method => "get", id: "search-form") do %>
        	<%= text_field_tag :search, params[:search], placeholder: "Search albums" %>
        	<%= submit_tag "Search" %>
      	<% end %>
      </div>
    </div>
  </div>
  <table class="table table-hover table-striped">	
		<thead>
			<tr>
	    	<th>Title</th>
	    	<th>Artist</th>
	    	<th><center>Released</center></th>
	    	<th><center>Genre</center></th>
	     	<th>Actions</th>
			</tr>
		</thead>

		<tbody>
			<%= render @albums.order(title: :asc) %>
		</tbody>
	</table>
</div>