<p id="notice"><%= notice %></p>

<p>
  <b>PLaylist:</b>
  <%= @playlist_tracks.playlist.name %>
</p>

<p>
  <b>Track:</b>
  <%= @playlist_tracks.track.name %>
</p>

<%= link_to 'Edit', edit_playlist_track_path(@playlist_tracks) %>
<%= link_to 'Back', playlist_tracks_path %>

