<% provide(:title, "#{@album.artist.name} - #{@album.title}") %>
<div class="row col-md-10 col-md-offset-1">

<div class="media">
  <div class="media-left">
    <a href="#">
      <%= image_tag(@album.cover, size: "360x360", alt: "Album cover") %>
    </a>
  </div>
  <div class="media-body">
      <div class="panel panel-primary panel-custom-show">
   <div class="panel-heading">
      <h3 class="panel-title">Artist</h3>
    </div>
    <div class="panel-body">
      <%= @album.artist.name %>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title">Title</h3>
    </div>
    <div class="panel-body">
      <%= @album.title %>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title">Released</h3>
    </div>
    <div class="panel-body">
      <%= @album.released %>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title">Genre</h3>
    </div>
    <div class="panel-body">
      <%= @album.genre.name %>
    </div>

    
    
  </div>
</div>
<div class="panel panel-primary panel-custom-show">
<div class="panel-heading">
      <h3 class="panel-title">Description</h3>
    </div>
    <div class="panel-body">
      <%= @album.description %>
    </div>






    
    
      <%= render 'tracks' %>
    </div>
		
  <%= render 'back' %>
  </div>
</div> 