<div class="container">
<h1>Sign up</h1>
<%= form_for @user do |form| %>
<%= form.label :username %>
<%= form.text_field :username, class: 'form-control' %>
<br>
<%= form.label :email %>
<%= form.email_field :email, class: 'form-control' %>
<br>
<%= form.label :password, 'Password' %>
<%= form.password_field :password, class: 'form-control' %>
<br>
<%= form.label :password_confirmation, 'Password confirmation' %>
<%= form.password_field :password_confirmation, class: 'form-control' %>
<br>
<%= form.submit 'Join us', class: 'btn btn-block btn-success' %>
<% end %>
</div>