<center>
<div class='page-header'>
	<h1><%= @title.upcase %></h1>
</div>
	<% if logged_in? %>
	<div class = "row col-md-12">
	<div class="panel panel-default">  
  <div class="panel-heading"><strong>Tracks</strong></div>
  <%= will_paginate @tracks %>
  	<table class="table table-hover table-striped table-responsive">	
			<thead>
				<tr>
	    		<th>Name</th>
	    		<th>Duration</th>
	    		<th>Artist</th>
	    		<th>Genre</th>
	    		<th>Album</th>
	    		<th></th>
	    		<th></th>
	    		<th></th>
	    		<th></th>
	    		<th></th>
				</tr>
			</thead>

			<tbody>
			  <%= render @tracks %>
							
			</tbody>
		</table>
	</div>
</div>
<% end %>
</div>

<% unless logged_in? %>
<%= image_tag('tuner.jpg', alt: "tuner") %>
</br>
<%= link_to 'Sign up', signup_path, class: "btn btn-danger" %>
<%= link_to 'Login', login_path, class: "btn btn-success" %>
<% end %>
</center>
