<% provide(:title, "Home") %>
<center>
<div class='page-header'>
	<h1><%= @title.upcase %></h1>
</div>
</center>
<% if logged_in? %>
	<div class="panel panel-default">
  	<table class="table table-hover table-responsive">	
			<thead>
				<tr>
					<th></th>
					<th>Artist</th>
	    		<th>Track</th>
	    		<th>Album</th>
	    		<th><center>Duration</center></th>	    		
	    		<th><center>Genre</center></th>	    		
	    		<th>Actions</th>
				</tr>
			</thead>

			<tbody>
			  <%= render @tracks %>
			</tbody>
		</table>
		<div class="digg_pagination">    
    	<center><%= will_paginate @tracks %></center>
  	</div>
	</div>
<% end %>

<% unless logged_in? %>
	<br>
	<center>
	<%= image_tag('ikona.png', alt: "tuner") %>
	<br>
	<br>
	<%= link_to 'Sign up', signup_path, class: "btn btn-danger" %>
	<%= link_to 'Login', login_path, class: "btn btn-primary" %>
	</center>
<% end %>

