<% provide(:title, "Home") %>
<center>
<div class='page-header'>
	<h1><%= @title.upcase %></h1>
</div>
</center>
	<% if logged_in? %>
	<div class = "row col-md-12">
	<div class="panel panel-default">  
  <div class="panel-heading"><strong>Tracks</strong></div>

  	<table class="table table-hover table-striped table-responsive">	
			<thead>
				<tr>
	    		<th>Name</th>
	    		<th>Duration</th>
	    		<th>Artist</th>
	    		<th>Genre</th>
	    		<th>Album</th>
	    		<th>Actions</th>
				</tr>
			</thead>

			<tbody>
			  <%= render @tracks %>
							
			</tbody>
		</table>
		<center><%= will_paginate @tracks %></center>
	</div>
</div>
<% end %>
</div>

<% unless logged_in? %>
<br>

<center>
<%= image_tag('ikona.png', alt: "tuner") %>
<br>
<br>
<%= link_to 'Sign up', signup_path, class: "btn btn-danger" %>
<%= link_to 'Login', login_path, class: "btn btn-primary" %>
<% end %>
</center>
