<tr>
	<td><%= link_to track.name, admin_track_path(track) %></td>	
  <td><%= link_to track.artist.name, admin_artist_path(track.artist_id) %></td>
  <td><%= link_to track.album.title, admin_album_path(track.album_id) %></td> 
	<td><center><%= track.duration %></center></td>		
	<td><center><%= link_to track.genre.name, admin_genre_path(track.genre_id) %></center></td>	
  <% if current_user.id == track.user_id %>
    <td>
      <%= link_to edit_admin_track_path(track), class: 'btn btn-sm btn-primary' do %>
        <i class="glyphicon glyphicon-edit"></i> Edit
      <% end %>
    </td>
    <td>
      <%= link_to admin_track_path(track), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-sm btn-danger' do %>
        <i class="glyphicon glyphicon-trash"></i> Delete
      <% end %>
    </td>
  <% end %>
</tr>