<tr>
	<td><%= link_to track.name, superadmin_track_path(track) %></td>	
	<td><%= track.duration %></td>	
	<td><%= link_to track.artist.name, superadmin_artist_path(track.artist_id) %></td>
	<td><%= link_to track.genre.name, superadmin_genre_path(track.genre_id) %></td>
	<td><%= link_to track.album.title, superadmin_album_path(track.album_id) %></td>
  <% if current_user.id == track.user_id %>
    <td>
      <%= link_to edit_superadmin_track_path(track), class: 'btn btn-sm btn-primary' do %>
        <i class="glyphicon glyphicon-edit"></i> Edit
      <% end %>
    </td>
    <td>
      <%= link_to superadmin_track_path(track), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-sm btn-danger' do %>
        <i class="glyphicon glyphicon-trash"></i> Delete
      <% end %>
    </td>
  <% end %>
</tr>