<% provide(:title, "Tracks") %>
<div class = "well well-sm well-tracks">
	<h3>. <%= link_to new_superadmin_track_path, class: 'btn btn-sm btn-primary' do %>
			Add New Track  <i class="fa fa-plus"></i> 
      <% end %>
		</h3>
	</div>		
	<div class="panel panel-default">  
  <div class="panel-heading">
  <div class=text-center>
  <div class="form-group">
      <%= form_tag(superadmin_tracks_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search tracks" %>
        <%= submit_tag "Search" %>
      <% end %>
      </form>
      </div>
</div>


  	<table class="table table-hover table-striped">	
			<thead>
				<tr>
	    		<th>Name</th>
	    		<th>Duration</th>
	    		<th>Artist</th>
	    		<th>Genre</th>
	    		<th>Album</th>
	    		<th>Actions</th>
	    	</tr>
			</thead>

			<tbody>
				<%= render @tracks.order(name: :asc) %>
				
			</tbody>

		</table>
		<center><%= will_paginate @tracks %></center>
	</div>
</div>
</div>