<div class="jumbotron">
<h1>welcome to tuner</h1>
</div>


<div class="row">
  <div class="column">
    <div class="card card-inverse card-success mb-3 text-center">
      <div class="card-block">
        <h3 class="card-title">Total Tracks</h3>
        <p class="card-text" style="background-color:powderblue;"><%= @tracks %></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card card-inverse card-info mb-3 text-center">
      <div class="card-block">
        <h3 class="card-title">Total Albums</h3>
        <p class="card-text" style="background-color:lightgreen;"><%= @albums %></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card card-inverse card-warning mb-3 text-center">
      <div class="card-block">
        <h3 class="card-title">Total Genres</h3>
        <p class="card-text" style="background-color:lightpink;"><%= @genres %></p>        
      </div>
    </div>
  </div>

 <div class="column">
    <div class="card card-inverse card-warning mb-3 text-center">
      <div class="card-block">
        <h3 class="card-title">Registered Users</h3>
        <p class="card-text" style="background-color:orange;"><%= @users %></p> 
          
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card card-inverse card-warning mb-3 text-center">
      <div class="card-block">
        <h3 class="card-title">Total Artists</h3>
        <p class="card-text" style="background-color:lightgrey;"><%= @artists %></p>        
      </div>
    </div>
  </div>
</div>


<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
       Body

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<%= link_to 'New album', new_album_path, class: "btn btn-default" %>

