<div class="jumbotron">
<h1>Welcome, <%= current_user.username %></h1>
</div>

<div class="row">
  <div class="col-lg-6 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-headphones fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= Track.count %></div>
              <div>Total tracks!</div>
            </div>
          </div>
        </div>
        <a href="<%= tracks_path %>">
        <div class="panel-footer">
          <span class="pull-left">View Tracks</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
        </a>
      </div>
    </div>

                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-music fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= Album.count %></div>
                                    <div>Total albums!</div>
                                </div>
                            </div>
                        </div>
                        <a href="<%= albums_path %>">
                            <div class="panel-footer">
                                <span class="pull-left">View Albums</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-orange">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-hand-spock-o fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= Genre.count %></div>
                                    <div>Total Genres!</div>
                                </div>
                            </div>
                        </div>
                        <a href="<%= genres_path %>">
                            <div class="panel-footer">
                                <span class="pull-left">View Genres</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>

<div class="col-lg-4 col-md-6">
                    <div class="panel panel-powderblue">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-microphone fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= Artist.count %></div>
                                    <div>Total Artists!</div>
                                </div>
                            </div>
                        </div>
                        <a href="<%= artists_path %>">
                            <div class="panel-footer">
                                <span class="pull-left">View Artists</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= User.count %></div>
                                    <div>Registered Users!</div>
                                </div>
                            </div>
                        </div>
                        <a>
                            <div class="panel-footer">
                                <span class="pull-left"></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>





<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
       Body

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<%= link_to 'New album', new_admin_album_path, class: "btn btn-default" %>

<div class = "row col-md-12">
  
  <div class="panel panel-default">  
  <div class="panel-heading"><strong>Track details</strong></div>
    <table class="table table-hover table-striped"> 
      <thead>
        <tr>
          <th>Name</th>
          <th>Duration</th>
          <th>Artist</th>
          <th>Genre</th>
          <th>Album</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>

<%= render 'tracks' %>

<% unless @tracks.empty? %>
  <%= will_paginate @tracks %>
<% end %>

</tbody>
    </table>
  </div>
</div>
